<div class="jumbotron">
    <h1>Fake Rest API</h1>
    <p class="lead">Fake Rest API on cloud for testing your application.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Free</h2>
        <p>Fake Rest API is completely free.</p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>Fake Rest API is open source and it is hosted on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/kasuken/fakerestapi" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosted on Azure</h2>
        <p>This application is hosted on Azure.</p>
        <p><a class="btn btn-default" href="http://www.azure.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
